.header-container {
  display: flex;
  align-items: center;
  padding: 0 200px;
  justify-content: space-between;
  background-color: #ffffff;
  color: #202329;
}

.title {
  font-size: 24px;
  padding: 8px 0;
}

.banner {
  height: 80px;
}
.nav-links-container {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #202329;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: 400;
}

.link:hover {
  color: #ff9800;
}
